Source: wwvsim
Section: hamradio
Priority: optional
Maintainer: Phil Karn <karn@ka9q.net>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), libbsd-dev, portaudio19-dev
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/wwvsim
Vcs-Git: https://github.com/ka9q/wwvsim

Package: wwvsim
Architecture: any
Depends:
 ${misc:Depends}, ${shlibs:Depends}, sox, libsox-fmt-mp3
Description: WWV/WWVH emulator
 Generates complete WWV or WWVH audio program: audio tones, second ticks, UT1 offset, minute beeps, 100 Hz timecode,
 half-hourly announcements, minute announcements
 Includes Hamsci test signal at :08 on WWV, :48 on WWVH
 Support for special announcements
